/* General */
$fontSize:14px;
$borderRadius:12px;
$transitionDuration:.2s;
$maskBg:rgba(0, 0, 0, 0.4);

//background-colors
$body-background: #FBFDFF;

//colors
$primary-color: #F44508;
$second-color: #F44B87;
$black-color: #151617;
$black-second-color: #343943;
$gray-color: #667085;
$gray-second-color: #D8DDE4;


